body{
    text-align: center;
}
div.omot{
    display: inline-block;
    background-image: url('kafemat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(40, 40, 40, 0.6);
    padding-left: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
div #komande, #tasteri{
    display: inline-block;
}
div #komande{
    float: left;
}
div #tasteri{
    margin-top: 20px;
    margin-left: 20px;
}
.servis{
    border-radius: 5px;
    visibility: hidden;
}
.komande{
    width: 10em;
    height: 3em;
    border-radius: 5px;
}
#suma{
    width: 8em;
    border-radius: 5px;
    margin-bottom: 10px;
}
#uplata{
    width: 6em;
    height: 2em;
    border-radius: 5px;
}
#kredit{
    width: 8em;
    color: white;
}
#kusur{
    width: 6em;
    height: 2em;
    border-radius: 5px;
}
.kusur{
    width: 8em;
    height: 2em;
    color: white;
}
#servis{
    width: 6em;
    height: 2em;
    border-radius: 5px;
}
#priprema{
    display: inline-block;
    margin: 0;
    height: 80px;
    width: 150px;
    visibility: hidden;
    color: white;
}
